body {
    margin: 0;
    padding: 0;
    background-color: #CAD4DF;
}

.header {
    background-color: #DDDBDE; /* Gold */
    color: #3B373B; /* White */
    text-align: center;
    padding: 20px;
}

#addButton {
    margin-top: 10px;
    background-color: #656577 /* Gold */
    color: #3B373B; /* White */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.addedCourses {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    background-color: #CAD4DF; /* Green */
    width: 200px;
    height: 350px;
    color: #3B373B; /* White */
}

@media (max-width: 576px) {
    .container {
        align-items: center;
    }
}

button {
    background-color: transparent;
    color: #3B373B; /* White */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #656577;
}

#gpa {
    border-radius: 10px;
    background-color: #ffff;
    color: #3B373B;
}
